body{
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 10px;
    padding-top: 15px;

    /* este es el background en degrade, se encuentran en uiGradients */
    background: #ffe1fe;
    background: -webkit-linear-gradient(to right, #fcc5fc, #fcc5fc);
    background: linear-gradient(to right, #fcc5fc, #fcc5fc);
}


#cuerpo{
    width: 100%;
    height: 100%;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(248, 241, 255);
    padding: 10px;
    margin-bottom: 20px;
}

.container{
    font-size: 14px;
}

h1{
    text-align: center;
    font-size: 27px;
}

button{
    width: 120px;
    height: 30px;
    background: #41295a;
    border-radius: 3px;
    border-color: #41295a;;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    cursor: pointer;
    color: azure;
    margin-bottom: 10px;
}


.navbar {
    background-color: rgb(63, 5, 120) !important;
    border-radius: 3px;
    border-color: rgb(44, 0, 87);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
  }



 /* Estilos del footer */
.footer {
    text-align: center;
    background-color: #1F0020;
    color: #FF00FF;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 100;
    left: 100;
    width: 100%;
    position: -webkit-sticky;
    
}

.footer-container {
    max-width: none;
    margin: auto;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 15px;
    
}
/*animacion imagenes del footer*/
.footer-container img:hover{
  transform: translateY(-2px);
    animation-name: zoom;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.footer-links {
    margin-bottom: 15px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-bottom: 15px;
}

.footer-social p {
    margin: 0;
    font-size: 14px;
}

.footer-social a img {
    width: 20px;
    margin: 0 5px;
    vertical-align: middle;
}

.footer-social a:hover img {
    opacity: 0.8;
}

.footer-copyright {
    font-size: 12px;
    opacity: 0.8;
}



button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #1F0020;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100px;
    height: fit-content;
    transition: background-color 1.0s;
    display: flexbox;
    text-align: center;
    
  }
  .button-container{
    display: flex;
    gap: 15px;
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #FF00FF;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    

button:hover {
    background-color: #fcc5fc;
}
 .link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
  }
/*animacion imagenes de footer*/
  @keyframes zoom {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1.1);
    }
  }

  
 


  